@charset "UTF-8";

/* マウスカーソル用 */

html,body,a{
  cursor: none;
}

#cursor{
  transform: translate(0,0);
    pointer-events: none;
    position: fixed;
    top: -4px;
    left: -4px; 
    width: 8px; 
    height: 8px; 
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    z-index: 1000;
    transition: width .3s, height .3s, top .3s, left .3s;
}

#cursor.hov_{
  top: -11px;
  left: -11px;
  width: 22px;
  height: 22px;
  background: rgba(0, 255, 255, 0.8);
}

#stalker {
    pointer-events: none;
    position: fixed;
    top: -18px;
    left: -18px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 0, 0.8);
    border-radius: 50%;
    transition: transform 0.2s, top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
    transition-timing-function: ease-out;
    z-index: 999;
}

#stalker.hov_{
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  transition: .5s;
  background: rgba(255, 0, 255, 0.8);
  mix-blend-mode: difference;
  cursor:pointer;
}


/* マウスカーソル用 */

.sp-mode {
  display: none;
}

br.sp-br {
  display: none;
}

.sp-flex01 {
  display: block;
}

html {
  font-size: 100%;
}

a[href*="tel:"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

img {
  /* width: auto; */
  vertical-align: bottom;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  color: #000000;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.6;
}

.openbtn7{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	background:#0a000c;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 40px;
  display: inline-block;
  margin:0 20px;
  z-index: 9999;
}

/*ボタン内側*/

.openbtn7 .openbtn-area{
    transition: all .4s;
}

.openbtn7 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	  background: rgba(255, 255, 255, 0.6);
  	width: 45%;
  }


.openbtn7 span:nth-of-type(1) {
	top:15px;	
}

.openbtn7 span:nth-of-type(2) {
	top:23px;
}

.openbtn7 span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると
線と周りのエリアが回転して×になる*/

.openbtn7.active .openbtn-area{
	transform: rotateY(-360deg);
}

.openbtn7.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
    width: 30%;
}

.openbtn7.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn7.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(135deg);
    width: 30%;
}

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:-120%;
  left:0;
  width:100vw;
  height: 100vh;/*ナビの高さ*/
  background: rgb(58, 49, 65);
  /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  top: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  transform: translate(110%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
  text-align: center; 
}

#g-nav li a{
  color:white;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
  position:relative;
z-index: 1;
/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
max-height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
/*　背景画像設定　*/

.slider-item {
  width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;/*背景画像をリピートしない*/
  background-position: center;/*背景画像の位置を中央に*/
  background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  position: absolute;/*絶対配置にする*/
  z-index: 3;
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #ccc;/*矢印の色*/
  border-right: 2px solid #ccc;/*矢印の色*/
  height: 25px;
  width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left:2.5%;
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  right:2.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  position: relative;
  z-index: 3;
  text-align:center;
  margin:-20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
  margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}

/* .test {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
} */

.header-background {
  position: fixed;
  background: #3B4350;
  width: 100vw;
  height: 105px;
  z-index: 99;
}

.header-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.header{
  background-color: #3B4350;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  width:100vw;
  max-width: 1100px;
  z-index: 100;
}

.heaader_section01{
  display: flex;
}

.header_navi{
  margin-right: 40px;
}

.header_navi li{
  margin: 0 10px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.header_navi li:hover {
  transform: scale(1.4);
  text-decoration: underline;
}

/* ↓背景の斜めのグレー・青・黄色の線 */

.background-diagonal-gray01 {
  background-color:rgba(195, 194, 192, 0.8);
  transform: skewY(-10deg);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  padding: 20vw;
  width: 100vw;
}

.background-diagonal-gray02 {
  background-color:rgba(195, 194, 192, 0.8);
  transform: skewY(10deg);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  padding: 20vw;
  width: 100vw;
}

.background-diagonal-blue {
  background-color: rgba(71, 123, 181, 0.8);
  transform: skewY(10deg);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  padding: 20vw;
  width: 100vw;
}

.background-diagonal-yellow01 {
  background-color:rgba(255, 255, 0, 0.8);
  transform: skewY(10deg);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  padding: 20vw;
  width: 100vw;
}

.background-diagonal-yellow02 {
  background-color:rgba(255, 255, 0, 0.8);
  transform: skewY(-10deg);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  padding: 20vw;
  width: 100vw;
}

#works {
  margin-top: -100px;
  margin-bottom: 100px;
}

/* ↑背景の斜めのグレー・青・黄色の線 */
/* 位置はそれぞれのセクションで指定 */

.background-diagonal-gray01.index01 {
  top: 2200px;
}

.background-diagonal-yellow01.index02 {
  top: 3500px;
}

.background-diagonal-gray01.index03 {
  top: 4800px;
  padding: 25vw;
}

.main_section01{
  padding: 180px 80px 110px 80px;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.main_section01 img {
  height: auto;
}

.main_section01_inner{
  color:white;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
  font-size:1.5vw;
}

.main_section01_inner h1{
  font-size: 50px;
  margin-bottom:60px;
  padding-top: 250px;   
}

.main_section02{
  color:#fff;
  padding-bottom: 96px;
  max-width: 1100px;
  margin: 0 auto;
  /* border: red 1px solid; */
}

.business {
  margin-bottom: 224px;
}

.business img,
.details img {
  width: 100%;
}

.img-wrap-right {
  overflow: hidden;
  position: relative;
  z-index: -5;
}

.img-wrap-right:before {
  animation: img-wrap-right 3s cubic-bezier(.4, 0, .2, 1) infinite;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-wrap-right {
  100% {
    transform: translateX(100%);
  }
}

.img-wrap-left {
  overflow: hidden;
  position: relative;
  z-index: -5;
}

.img-wrap-left:before {
  animation: img-wrap-left 3s cubic-bezier(.4, 0, .2, 1) infinite;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-wrap-left {
  100% {
    transform: translateX(-100%);
  }
}

.main_section02_inner{
  text-align: center;
  margin:0 auto;
  padding-bottom: 100px;
  padding-top: 40px;
  margin-top: -540px;
  opacity: 0.9;
}

.main_section02_inner a{
  display: inline-block;
  height:400px;
  width: 18%;
  padding: 180px 0;
  position:relative;
}

.main_section02_inner h2{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 50;
  font-size: 28px;
  width:100%;
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-weight: bold;
}

.a1{
  background-color:rgb(59, 67, 82, 0.9);
}

.a1:hover{
  background-image: url(../img/cloud-hover.png);
  background-size: cover;
}

.a2{
  background-color:rgb(76, 122, 186, 0.9);
}

.a2:hover{
  background-image: url(../img/iot-hover.png);
  background-position: center;
}

.a3{
  background-color: rgb(251, 252, 0, 0.9);
}

.a3:hover{
  background-image: url(../img/system-hover.png);
  background-size: cover;
}

.a4{
  background-color:rgb(195, 194, 192, 0.9);
}

.a4:hover{
  background-image: url(../img/support-hover.png);
  background-size: cover;
}

.stc-parent {
  position: relative;
}

.stc-triangle {
  border-top: 20px solid #3B4350;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  z-index: 30;
}

.STG_feature{
  text-align: center;
  background-color:#3B4350;
  font-size: 15px;
  color: #fff;
  padding: 30px;
}

.main_section03{
  color:#3B4350;
  padding-bottom: 500px;
}

.main_section03 h2 {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-weight: bold;
  color: #487BB5;
}

.main_section03 h3 {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #487BB5;
}

.main_section03 p {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-weight: normal;
  color: #000;
}

.background-diagonal01 {
  background-color:rgba(195, 194, 192, 0.8);
  transform: skewY(-20deg);
  position: relative;
  z-index: -1;
}

.main_section03_inner01{
  /* transform: skewY(20deg); */
  height:auto;
  display:flex;
  justify-content: space-between;
  padding: 0 50px;
}

.main_section03_img01{
  display: inline-block;
  max-width:55%;
  height: 70%;
  margin-top:350px;
}

.color_pillar01{
  display: inline-block;
  background-color: #FFFF00;
  position: relative;
  padding:400px  30px;
}

.color_pillar01_innner{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  width:700px;
  padding: 60px;
  text-align: left;
  position: absolute;
  left: 0%;
  top:20%;
  box-shadow: 5px 5px 5px gray;
}

.color_pillar01_innner h2{
  font-size: 40px;
}

.color_pillar01_innner h3{
  margin-bottom: 30px;
}

.background-diagonal02 {
  background-color:rgba(255, 255, 0, 0.8);
  transform: skewY(20deg);
  position: relative;
  z-index: -2;
}

.main_section03_inner02{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height:auto;
  padding: 0 50px;
  /* transform: skewY(-20deg); */
}

.main_section03_img02{
  display: inline-block;
  max-width: 55%;
  height: 70%;
  margin-top:500px;
}

.color_pillar02{
  display: inline-block;
  background-color: #FFFF00;
  position: relative;
  padding:400px  30px;
}

.color_pillar02_innner{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  width:700px;
  padding: 60px;
  text-align: left;
  position: absolute;
  left: -1065%;
  top:20%;
  box-shadow: 5px 5px 5px gray;
}

.color_pillar02_innner h2{
  font-size: 40px;
}

.color_pillar02_innner h3{
  margin-bottom: 30px;
}

.main_section03_inner03{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height:auto;
  padding: 0 50px;
}

.main_section03_img03{
  display: inline-block;
  width: 45%;
  /* max-width: 55%; */
  height: 70%;
  margin-top:200px;
}

.color_pillar03{
  display: inline-block;
  background-color: #C3C2C0;
  position: relative;
  padding:400px  30px;
}

.color_pillar03_innner{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  width:700px;
  padding: 60px;
  text-align: left;
  position: absolute;
  left: 0%;
  top:20%;
  box-shadow: 5px 5px 5px gray;
}

.color_pillar03_innner h2{
  font-size: 40px;
}

.color_pillar03_innner h3{
  margin-bottom: 30px;
}

.main_section03_inner04{
  /* transform: skewY(20deg); */
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height:auto;
  padding: 0 50px;
}

.main_section03_inner01,
.main_section03_inner02,
.main_section03_inner03,
.main_section03_inner04 {
  max-width: 1100px;
  margin: 0 auto;
}


.main_section03_img04{
  display: inline-block;
  max-width: 55%;
  height: 70%;
  margin-top:350px;
}

.color_pillar04{
  display: inline-block;
  background-color: #FFFF00;
  position: relative;
  padding:400px  30px;
}

.color_pillar04_innner{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  width:700px;
  padding: 60px;
  text-align: left;
  position: absolute;
  left: -1065%;
  top:20%;
  box-shadow: 5px 5px 5px gray;
}

.color_pillar04_innner h2{
  font-size: 40px;
}

.color_pillar04_innner h3{
  margin-bottom: 30px;
}

.main_section04{
  background-color: #3B4350;
  padding: 180px 0;
  position: relative;
}

.main_section04_inner01{
  display: flex;
  justify-content: space-around;
  position: absolute;
  top:0%;
  left:50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  font-size: 25px;
}

.main_section04_inner01 a:hover {
  outline: gray 2px solid;
  outline-offset: -40px;
  filter: brightness(60%);
  transition: filter .3s;
}

.main_section04 a{
  margin: 0 30px 30px 30px;
}

.main_section04 img{
 box-shadow: 25px -25px rgb(34,82,129,0.8);
}

.main_section04_inner01_text01{
  position: absolute;
  top:10%;
  left:12%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 32px;
}

.main_section04_inner01_text02{
  position: absolute;
  top:90%;
  left:25%;
  transform: translate(-50%,-50%);
}

.main_section04_inner01_text03{
  position: absolute;
  top:10%;
  left:60%;
  transform: translate(-50%,-50%);
  font-size: 32px;
}

.main_section04_inner01_text04{
  position: absolute;
  top:90%;
  left:75%;
  transform: translate(-50%,-50%);
}

.footer-width {
  max-width: 1100px;
  margin: 0 auto;
}

.footer_section01{
  margin:50px 80px;
}

.footer_section02{
  display: flex;
  justify-content: space-between;
  margin:20px 80px;
  margin-bottom: 70px;
}

.footer p {
  margin-bottom: 24px;
}

.maplink {
  background: #3B4350;
  border-radius: 20px;
  color: #fff;
  padding: 8px 52px 8px 52px;
  margin-top: 32px;
}

iframe{
  height:300px;
  width:100%;
  padding:4px;
  background-color: #3B4350;
  margin-top: 30px;
}

.footer_section02_inner01{
  font-weight: normal;
  letter-spacing: 1px;
}

.footer_section02_inner02{
  width:400px;
  display: inline-block;
  margin: 0 auto;
}

.footer_section02_inner02 a{
  border-bottom: 2px solid #000000;
  width:100%;
  margin-top: 24px;
  display: inline-block;
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-weight: bold;
}

.footer_section02_inner02 p{
  font-size: 10px;
}

.footer_section03{
  background-color:#3B4350;
  padding:20px;
  text-align: right;
  color: #fff;
}

.title {
  font-size: 140px;
  position: absolute;
  left: -5%;
}

.concept {
  /* transform: skewY(20deg); */
  max-width: 1100px;
  margin: 0 auto;
}

.concept-title {
  color: #fff;
  background: #000;
  border-radius: 20px;
  padding: 8px 32px 8px 32px;
  display: inline-block;
  margin-bottom: 32px;
}

.concept-text {
  line-height: 2;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.8);
  padding: 24px;
  margin-bottom: 32px;
  font-family: YuGothic,'Yu Gothic',sans-serif;
  box-shadow: 5px 5px 5px gray;
}

.concept-img {
  margin-bottom: 64px;
}

.concept-img img {
  width: 100%;
  max-width: 1000px;
}

.background-diagonal03 {
  background-color: rgba(71, 123, 181, 0.8);
  transform: skewY(20deg);
  position: relative;
  z-index: -2;
}

.background-diagonal-blue.company01 {
  top: 1200px;
}

.background-diagonal-gray01.company02 {
  top: 2200px;
}

.background-diagonal-blue.company03 {
  top: 3200px;
}

.company {
  /* transform: skewY(-20deg); */
  max-width: 1100px;
  margin: 0 auto;
}

.company-wrapper {
  margin-top: -150px;
}

.company-title {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 16px;
  position: relative;
  z-index: 6;
}

.company-sub {
  max-width: 1100px;
  margin: 0 auto;
}

.company-desc {
  width: 90%;
  margin: 0px auto 64px auto;
}

.company-desc tr {
  border-bottom: 1px solid #000;
}

.company-desc th{
  padding: 32px 100px 32px 24px;
}

.company-desc td {
  padding: 32px 0px 32px 0px;
  font-weight: normal;
}

.company-desc th,
.company-desc td {
  vertical-align: middle;
}

.aboutus {
  margin-bottom: 80px;
}

.aboutus img {
  width: 100%;
}

.recruit-main {
  /* 方眼紙模様 */
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), rgba(255, 255, 0, 0.5) calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), rgba(255, 255, 0, 0.5) calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
  position: relative;
  z-index: -9999;
}

.recruit-section01 {
  /* transform: skewY(20deg); */
  max-width: 1100px;
  margin: 0 auto 32px auto;
}

.recruit-text01 {
  padding-left: 48px;
  line-height: 3;
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-weight: normal;
}

.recruit-text02 {
  color: #487BB5;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin-top: 32px;
  margin-bottom: 32px;
  letter-spacing: 0.1em
}

.recruit-img {
  text-align: center;
}

.recruit-img img {
  width: 150px;
}

.joinus {
  text-align: right;
  max-width: 70vw;
  margin: 0px 0px 0px auto;
  /* position: relative;
  z-index: 4; */
}

.joinus img {
  width: 100%;
  /* max-width: 600px; */
}

.joinus-background {
  background: rgba(255, 255, 0, 0.7);
  padding: 100px 0px 30px 0;
  margin-top: -100px;
}

.recruit-text03 {
  text-align: center;
  margin-top: -130px;
  margin-bottom: 64px;
}

.recruit-text03 img {
  width: 70vw;
  max-width: 1000px;
  position: relative;
  z-index: 3;
}

.recruit-section02 {
  /* transform: skewY(-20deg); */
  max-width: 1100px;
  margin: 80px auto 32px auto;
}

.check-img img {
  width: 40px;
  vertical-align: middle;
}

.recruit-section02 table {
  width: 70%;
  margin: 0 auto;
}

.recruit-section02 th {
  padding-bottom: 16px;
}

.recruit-section02 td {
  text-align: right;
}

.recruit-section02 th,
.recruit-section02 td {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-weight: normal;
}

.recruit-text04 {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 80px;
}

.recruit-text04 img {
  width: 70vw;
  max-width: 1000px;
}

span.red-big {
  color: red;
  font-weight: bold;
  font-size: 80px;
}

.contact-main{
  /* 方眼紙模様 */
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), rgba(195, 194, 192, 0.5) calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), rgba(195, 194, 192, 0.5) calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
  position: relative;
  z-index: -9999;
}

.background-diagonal-yellow02.contact01 {
  top: 700px;
}

.background-diagonal-gray02.contact02 {
  top: 1800px;
  padding: 0%;
  padding: 15vw;
}

.wrapper.contact {
  position: relative;
  z-index: 3;
}

.contact-title {
  font-weight: bold;
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-size: 48px;
  margin-top: 56px;
  margin-bottom: 16px;
}

.contact-text01 {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  line-height: 2;
  margin-bottom: 48px;
  font-weight: bold;
}

.background-diagonal02-contact {
  background-color:rgba(255, 255, 0, 0.8);
  transform: skewY(20deg);
}

.contact-section01 {
  /* transform: skewY(-20deg); */
  font-weight: normal;
  max-width: 1100px;
  margin: 0 auto 32px auto;
  padding-left: 8px;
}

form p {
  margin-top: 16px;
} 

form .input, 
form .textarea {
  background: #f9f9f9;
  border: #000 1px solid;
  border-radius: 5px;
  line-height: 2;
  width: 70%;
  margin-bottom: 8px;
  padding-left: 8px;
}

form .submit-btn {
  display: block;
  margin-top: 32px;
  padding: 16px 24px 16px 24px;
  color: #fff;
  background: #000;
  border-radius: 5px;
}

span.red {
  color: #fff;
  background: red;
  border-radius: 5px;
  font-size: 14px;
  padding: 1px;
  margin-left: 4px;
}

span.gray {
  color: #fff;
  background: gray;
  border-radius: 5px;
  font-size: 14px;
  padding: 1px;
  margin-left: 4px;
}

.submit-btn-confirm {
  margin-top: 32px;
  padding: 16px 48px 16px 48px;
  background: #f9f9f9;
  border: #000 1px solid;
  border-radius: 5px;
}

@media (max-width: 760px) {

  .pc-mode {
    display: none;
  }

  .sp-mode {
    display: block;
  }

  br.pc-br {
    display: none;
  }

  br.sp-br {
    display: block;
  }

  .header {
    width: 100vw;
  }

  .heaader_section01 {
    position: absolute;
    top: 28px;
    right: 16px;
  }

  .background-diagonal-gray01.index01 {
    top: 1000px;
    padding: 50vw;
  }
  
  .background-diagonal-yellow01.index02 {
    top: 2000px;
    padding: 50vw;
  }
  
  .background-diagonal-gray01.index03 {
    top: 2800px;
    padding: 50vw;
  }

  .main_section01 {
    padding: 140px 0px 50px 0px;
  }

  .main_section01_inner {
    width: 100%;
    left: 50%;
    padding-left: 32px;
  }

  .main_section01_inner h1{
    font-size: 24px;
    margin-bottom:40px ;
    padding-top: 50px;   
  }

  .business {
    padding-bottom: 100px;
    margin-left: 0px;
    margin-bottom: 0;
  }

  .details {
    font-size: 70px;
    letter-spacing: 0.15em;
    margin-left: 0px;
  }

  .sp-flex01 {
    display: flex;
    flex-wrap: wrap;
  }

  .main_section02{
    padding-bottom: 0px;
  }

  .main_section02_inner a{
    height:100px;
    width: 45%;
    margin: 0px auto 24px auto;
    padding: 50px 0px 50px 0;
  }

  .main_section02_inner{
    padding-bottom: 0px;
    padding-top: 40px;
    margin-top: -290px;
    margin-bottom: 55px;
  }

  .main_section03_inner01{
    padding: 0;
  }
  
  .main_section03_img01{
    margin-top:50%;
  }

  .color_pillar01{
    padding: 200px 30px;
    margin-top: 48px;
  }
  
  .color_pillar01_innner{
    width: 100vw;
    height: 400px;
    padding: 8px;
    top: 0%;
  }

  .main_section03_inner02{
    padding: 0px;
  }
  
  .main_section03_img02{
   margin-top:50%;
  }
  
  .color_pillar02{
    padding: 200px 30px;
    margin-top: 48px;
  }

  .color_pillar02_innner{
    display: inline-block;
    background-color: #fff;
    opacity: 0.6;
      width: 100vw;
      height: 400px;
      padding: 8px;
    text-align: left;
    position: absolute;
      left: -525%;
      top:0%;
  }
  
  .main_section03_inner03{
    padding: 0;
  }
    
  .main_section03_img03{
    margin-top:50%;
  }

  .color_pillar03{
    padding: 200px 30px;
    margin-top: 48px;
  }
  
  .color_pillar03_innner{
    width: 100vw;
    height: 400px;
    padding: 8px;
    top: 0%;
  }

  .main_section03_inner04{
    padding: 0px;
  }
    
  .main_section03_img04{
    margin-top:50%;
  }
    
  .color_pillar04{
    padding: 200px 30px;
    margin-top: 48px;
  }
    
  .color_pillar04_innner{
    width: 100vw;
    height: 400px;
    padding: 8px;
    left: -525%;
    top:0%;
  }

  .main_section03 {
    padding-bottom: 300px;
  }

  .main_section04{
    padding: 40px 0;
    margin-top: 400px;
  }
  
  .main_section04_inner01{
    display: block;
    top: -400%;
  }
  
  .main_section04 img{
    width: 80vw;
    margin: 32px;
  }
  
  .main_section04_inner01_text01{
    top:10%;
    left:35%;
  }
  
  .main_section04_inner01_text02{
    top:41%;
    left:50%;
  }
  
  .main_section04_inner01_text03{
    top:60%;
    left:30%;
  }
  
  .main_section04_inner01_text04{
    top:91%;
    left:50%;
  }

  .footer_section01{
    margin: 50px 16px 50px 16px;
    text-align: center;
  }
  
  .footer_text{
    margin:0px 16px 0px 16px;
  }
  
  .footer_section02{
    display: block;
    margin:20px 16px 70px 16px;
  }
  
  .footer_section02_inner02{
    width:90vw;
    margin-top: 32px;
  }

  .main_section04 a {
    margin: 0px;
  }

  .sp-mode .color_pillar01 {
    background-color: #FFFF00;
  }

  .title {
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 6%;
  }

  .main_section01_inner.sub h1 {
    margin: 112px 0px 16px 0px;
  }

  .background-diagonal-blue.company01 {
    top: 1200px;
    padding: 50vw;
  }
  
  .background-diagonal-gray01.company02 {
    top: 2200px;
    padding: 50vw;
  }
  
  .background-diagonal-blue.company03 {
    top: 3900px;
    padding: 50vw;
  }

  .concept {
    margin-left: 8px;
    margin-right: 8px;
  }

  .concept-img {
    text-align: center;
  }

  .concept-img img {
    height: auto;
    width: 90vw;
  }

  .company-sub {
    margin-left: 8px;
    margin-right: 8px;
  }

  .company {
    margin-left: 8px;
    margin-right: 8px;
  }

  .aboutus {
    font-size: 60px;
    padding-bottom: 30px;
    margin-left: 0px;
  }

  .company-desc th {
    padding: 32px 8px 32px 8px;
    width: 100px;
  }

  .main_section04.sub {
    margin-top: 100px;
  }

  .recruit-section01 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .recruit-text01 {
    padding-left: 0px;
    line-height: 3;
  }

  .joinus-background {
    background: rgba(255, 255, 0, 0.7);
    padding: 0px 0px 30px 0;
    margin-top: -100px;
  }

  .joinus {
    font-size: 80px;
    margin-left: 0px;
    margin-top: 50px;
    padding-top: 64px;
    padding-bottom: 32px;
    max-width: 80vw;
    margin: 0px 0px 0px auto;
  }

  .recruit-text03 {
    text-align: center;
    margin-top: -140px;
    margin-bottom: 64px;
  }

  .recruit-section02 {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 32px;
  }

  .recruit-section02 table {
    width: 100%;
    margin: 0 auto;
  }

  .checklist {
    text-align: center;
  }

  .recruit-text04 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    margin-top: 64px;
    margin-bottom: 32px;
  }

  .background-diagonal-yellow02.contact01 {
    top: 700px;
    padding: 50vw;
  }
  
  .background-diagonal-gray02.contact02 {
    top: 1400px;
    padding: 50vw;
  }

  .contact-section01 {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 32px;
    font-weight: normal;
  }

  form .input, form .textarea {
    width: 100%;
    margin-bottom: 8px;
    padding-left: 8px;
  }

  .background-diagonal-gray {
    position: absolute;
    top: 1000px;
    left: 0px;
    z-index: -1;
    padding: 40vw;
  }

}

/* ============================================ */